/* --- 01 TYPOGRAPHY SYSTEM
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* --- 07 WHITESPACE

    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* Font weights:
    Default: 400
    Medium: 500
    Semi-Bold: 600
    Bold: 700
  
    Line Heights:
    Default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.8
  
    - Letter Spacing
    -0.5px
    0.75px */

/* REUSABLES */

:root {
  --form-control-color: #197278;
  --form-control-disabled: #f9f9f9;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #faf9f6;
}

.main-page {
  /* Viewport on host device */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 725px;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf9f6;
}

.home-logo {
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}


.top-bar {
  height: 10rem;
  background-color: #197278;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top-list {
  padding-left: 0.8rem;
  display: flex;
  gap: 1.2rem;
}

.top-list button {
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  background-color: #197278;
  border: 2px solid #fff;
  font-size: 1.6rem;
}

.top-header {
  color: #fff;
  font-size: 3.8rem;
  font-weight: 600;
  padding: 1.2rem;
}

.container {
  width: 90%;
  margin: auto;
  transition: all 1s;
}

.container.hidden {
  transform: translateX(120%);
  filter: blur(6px);
}

.food-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  margin-top: 8rem;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  grid-template-columns: 1em auto 1fr;
  gap: 0.5em;
  align-items: center;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background, #fff);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid currentColor;
  border-radius: 0.5rem;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 300ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--form-control-color, #000);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.1rem) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled,
input[type="text"]:disabled,
select:disabled {
  --form-control-color: var(--form-control-disabled, #ccc);
  color: var(--form-control-disabled, #ccc);
  cursor: not-allowed;
}

input[type="text"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background, #fff);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 100%;
  max-width: 200px;
  height: 2.5rem;
  border: 0.1rem solid currentColor;
  border-radius: 0.8rem;
  padding: 1.6rem;
  transition: border-color 0.3s ease;
  padding-left: 0.5rem;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--focus-border-color, #4a90e2);
}

input[type="text"]:disabled {
  --form-control-color: var(--form-control-disabled, #ccc);
  color: var(--form-control-disabled, #ccc);
  cursor: not-allowed;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: (#fff);
  color: currentColor;
  font-size: inherit;
  cursor: pointer;
  border-radius: 0.8rem;
  height: 3.5rem;
  padding-left: 0.5rem;
  transition: border-color 0.3s ease;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23FFFFFF' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
      no-repeat right 0.5em center,
    linear-gradient(to bottom, #197278 0%, #197278 100%);
  color: #fff;
  padding-right: 2rem;
  width: 100px;
}

select:focus {
  outline: none;
  border-color: var(--focus-border-color, black);
}

select:disabled {
  --form-control-color: var(--form-control-disabled, black);
  color: var(--form-control-disabled, black);
  cursor: not-allowed;
}

option {
  background-color: #197278;
  color: #fff;
}

.food_container,
.check_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  background: white;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 0 1.6rem;
  text-align: left;
}

.food_img {
  padding: 10px;
  height: 80px;
  width: 80px;
}

.food_header {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.food_expire {
  font-size: 1.2rem;
  color: red;
}

.food_subtext {
  font-size: 1.2rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 95%;
  margin: 0 auto;
  background-color: #197278;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.nav-list {
  width: 80;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.nav-img {
  width: 2rem;
  height: 2rem;
  background-color: #faf9f6;
  border-radius: 50%;
  padding: 3rem;
}

.nav-img img {
  width: 4rem;
  height: 4rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.check_container {
  height: 4rem;
  padding: 1.6rem 3.2rem;
}

.check-input {
  width: 20rem;
}

.gen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin: 1.6rem 3.2rem;
}

.gen-container textarea {
  padding: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  width: 30%;
  color: #eee;
  padding: 1.2rem 0;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: #318086;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #1d4d50;
}

.btn.shopping {
  width: 60%;
  height: 6rem;
  margin-bottom: 1rem;
}

.list-flex {
  height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 1.6rem;
}

.expired-foods {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  margin-bottom: 1.2rem;
}

.expire_container {
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-right: 15px;
  border: 0.2rem solid rgba(37, 37, 37, 0.2);
}

.flex-expired {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 4rem;
}

.flex-expired textarea {
  font-family: inherit;
  font-size: 1.2rem;
  margin: 0rem 1rem;
  margin-top: 2rem;
}

.recipe-header {
  text-align: center;
  background-color: #faf9f6;
  margin-top: 1.2rem;
}

.text-box {
  margin: 0 auto;
  width: 93%;
  height: 465px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2rem;
  padding-top: 0rem;
  overflow-y: auto;
  border: 0.2rem solid rgba(37, 37, 37, 0.2);
  margin-bottom: 2.7rem;
}
